.App {
  text-align: center;
}



.center{
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  /* used when postion: fixed tells you what layer you want it to be.
  In this case...we want the back ground to be in the back of everything  */
}
